body {
    font-size: xx-small;
    font-family: monospace;
    color: floralwhite;
    background-color: black;
    font-weight: 100;
}
h1{
    font-size: 6em;
    color: dodgerblue;
    font-weight: bold;
}
.portfolio-items {
    color: darkcyan;
    font-size: 3em;
    font-weight: bold;
}
.portfolio-parent-items {
    color: dodgerblue;
    font-weight: bold;
    font-size: 4em
}
.anecdotal{
    font-size: large;
    color: deepskyblue;
    font-weight: bold
}
.relationships{
    font-size: medium;
    font-style: italic;
    color: deeppink;
}
.motivation{
    font-style: italic;
    font-size: 3em;
    color: lavender;
}
img {
    display: none;
  }
  .hover-text:hover img {
    display: block;  
  }